<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="log-stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{HH:mm:ss}%-5p[%c]%M(line:%L)%m%n" />
		</layout>
	</appender>
	<appender name="log-file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="d:/applogs/uaas.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p%-d{yyyy-MM-dd HH:mm:ss}[%c.%M(%L)]%m%n" />
		</layout>
	</appender>
	
	<category name="org.zkoss.spring" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="log-stdout" />
	</category>
	
	<category name="com.cs.uaas" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="log-stdout" />
	</category>
	
	<category name="org.hibernate" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="log-stdout" />
	</category>
	<logger name="org.hibernate.type" additivity="false">
		<level value="WARN" />
		<appender-ref ref="log-stdout" />
	</logger>
	<logger name="org.hibernate.SQL" additivity="false">
		<level value="WARN" />
		<appender-ref ref="log-stdout" />
	</logger>
	
	<category name="org.apache" additivity="false">
		<priority value="WARN" />
	</category>
	<category name="org.springframework.security" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="log-stdout" />
	</category>
	
	<category name="org.springframework" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="log-stdout" />
	</category>
	<root>
		<priority value="WARN" />
		<appender-ref ref="log-stdout" />
	</root>
</log4j:configuration>